--extra-index-url https://download.pytorch.org/whl/cpu

discord.py==2.3.2

# OCR
paddlepaddle==3.2.1
paddleocr==2.7.0.3

# Fix missing audioop on Python 3.13
setuptools

# Utils
opencv-python-headless
pillow
numpy
cryptography
pandas

# Web server
flask
